<div class="container">
  <!-- <div class="contactMessage">
    <h2>I'd love to help bring your ideas to life, or meet up for tea, hikes or headstands.</h2>
    <p style='margin-top:50px'>If you think we'd get along (I do!) and would like to get in touch, fill out the form below or email me at <a class='strikethrough' href="mailto:becca.m.neely@gmail.com">becca.m.neely@gmail.com</a></p>
  </div> -->
  <h1 class='text-center'>WAZZZZUPPPP!</h1>
  <div class="field">
    <label style='margin-top:50px' for="name">NAME*</label>
    <input id='sendName' type="text" name="name" value="" ng-model='pc.mailObject.name'>
  </div>
  <div class="field">
    <label for="email">E-MAIL*</label>
    <input id='sendEmail' type="email" name="email" ng-model='pc.mailObject.email'>
  </div>
  <div class="field">
    <label for="subject">SUBJECT*</label>
    <input id='sendSubject' type="text" name="subject" ng-model='pc.mailObject.subject'>
  </div>
  <div class="field">
    <label for="message">MESSAGE*</label>
    <textarea id='sendMessage' name="message" rows="5" cols="50" ng-model='pc.mailObject.message'></textarea>
  </div>
  <div class="send">


    <div class="field">
      <button ng-click="pc.submitForm(pc.mailObject)" class='submit' type="text">SAY HI</button>
    </div>
  </div>



</div>
