<div class="container-fluid">

  <div class="row no-gutters">


  <div class="col-lg-6 col-md-12 col-sm-12 cont">
      <a href=""><img class='image img-fluid' src="images/work/foundforage/ff_mockup2.jpg" alt="Found Forage: Mobile Site" data-aos="slide-right"  data-aos-easing="linear"
     data-aos-duration="1000">
  
      <!-- <div class="middle">
        <div class="text">Found Forage: Mobile Site</div></a>
    </div> -->
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 cont">
      <a href=""><img class='image img-fluid' src="images/work/foundforage/ff_mockup_792x594.jpg" alt="Found Forage: Mobile Site" data-aos="slide-up"  data-aos-easing="linear"
     data-aos-duration="1000">
      <!-- <div class="middle">
        <div class="text">Found Forage: Mobile Site</div></a>
    </div> -->
  </div>


  <!-- <div class="col-lg-6 col-md-12 col-sm-12 cont">
    <a href=""><img class='image img-fluid' src="images/work/register.png" alt="GUSU2Cure" data-aos="zoom-in-down" data-aos-delay="300">
    <div class="middle">
      <div class="text" >Get Up Stand Up 2 Cure: Mentor Match</div></a>
  </div>
</div> -->
</div>



</div>
